body {
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.home-container {
  text-align: center;
  margin-top: 60px;
}

.home-background {
  width: 100%;
  opacity: 0.9;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.home-buttons button {
  margin: 10px;
  padding: 10px 20px;
  background-color: #c79b7b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-buttons button:hover {
  background-color: #b08269;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}