/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(199, 155, 123, 0.8); 
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
  animation: fadeIn 1.5s ease; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.menu-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

/* Navbar Links */
.navbar-links {
  display: none;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  position: absolute;
  top: 50px;
  left: 20px;
  background-color: rgba(199, 155, 123, 0.9); 
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar-links.active {
  display: flex;
}

.nav-link {
  font-family: 'Playfair Display', serif; 
  font-size: 1.1rem;
  font-weight: normal; 
  color: white;
  text-decoration: none;
  margin: 5px 0;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #f0e5d8; 
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  color: white; 
  background: none; 
  border: none; 
  font-size: 1.1rem; 
  padding: 0; 
  font-weight: normal; 
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: calc(100% + 5px); 
  left: 0;
  background-color: #ffffff;
  color: #000;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: max-content; 
}
.dropdown-menu .dropdown-item {
  margin: 5px 0;
  padding: 8px 15px; 
  color: #000;
  text-decoration: none;
  border-radius: 5px;
  text-align: left;
  white-space: nowrap; 
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(199, 155, 123, 0.8);
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: flex; 
}

.navbar-right {
  display: flex;
  gap: 15px;
  margin-right: 20px; 
  white-space: nowrap; 
}

.navbar-right .nav-link {
  background-color: rgba(199, 155, 123, 0.9); 
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.navbar-right .nav-link:last-child {
  margin-left: -10px; 
}

.navbar-right .nav-link:hover {
  background-color: #b08269;
  color: #fff;
}

body {
  margin-top: 60px; 
}

@media (max-width: 768px) {
  .navbar-links {
    width: 90%;
    left: 5%;
  }

  .dropdown-menu {
    position: relative;
    top: 0;
    box-shadow: none;
  }
}