
.online-services-container {
  background-image: url("../images/onlineback.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  min-height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 20px;
  position: relative;
  filter: brightness(0.85); 
}


.online-services-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); 
  z-index: -1; 
}


.faq-container {
  text-align: center;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1; 
}

.faq-item h3 {
  cursor: pointer;
  color: #414942; 
  margin-bottom: 10px;
}

.faq-item h3:hover {
  color: #c79b7b; 
}

.faq-item p {
  color: #414942;
  background-color: #fdf7f3; 
  padding: 10px;
  border-radius: 5px;
}